// ---------------------------------------------
// COMPONENT: FORM GROUP
// ---------------------------------------------
// Layout and spacing for slider, checkboxes, and button container
// Used to organize inputs and align them inside the main module
// ---------------------------------------------

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/utilities' as *;

.form {
  width: 100%;
  background-color: $gray-800;

  &__wrapper {
    width: 100%;
    padding-block: $spacing-300 4.1rem;
    padding-inline: $spacing-400;
    gap: $spacing-400;
    @include flex-column(center, start);
  }

  &__slider {
    width: 100%;

    &-input {
      @include slider-thumb;
    }
  }

  &__characters {
    @include flex-space-between-center;
    flex-wrap: nowrap;
    margin-bottom: $spacing-200;

    &-label {
      color: $gray-200;
      @include text-preset-3;
    }

    &-value {
      color: $green-200;
      @include text-preset-1;
    }
  }

  &__checkbox-group {
    all: unset;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    @include flex-column(center, start);
    gap: $spacing-200;
  }

  &__checkbox {
    @include flex-row(center, center, nowrap);
    gap: $spacing-300;

    &-input {
      appearance: none;
      width: 2rem;
      height: 2rem;
      background-color: $gray-800;
      border: 0.2rem solid $gray-200;
      border-radius: 0;
      display: inline-block;
      position: relative;
      cursor: pointer;
      transition: background-color 0.2s ease, border-color 0.2s ease;

      &:checked {
        background-color: $green-200;
        border-color: $green-200;
      }

      // Optional hover state
      &:hover {
        border-color: $white;
      }

      // Optional focus state
      &:focus-visible {
        outline: 2px solid $color-accent;
        outline-offset: 2px;
      }
    }

    &-label {
      color: $gray-200;
      @include text-preset-3;
      cursor: pointer;
    }
  }

  &__strength {
    width: 100%;
    background-color: $color-bg-muted;
    padding-block: $spacing-200;
    padding-inline: $spacing-400;
    @include flex-space-between-center;
    flex-wrap: nowrap;

    &-label {
      color: $color-text-muted;
      text-transform: uppercase;
      @include text-preset-3;
    }
  }
}
