// ---------------------------------------------
// COMPONENT: OUTPUT FIELD
// ---------------------------------------------
// Styles the password display area and clipboard icon/button
// Includes “copied” feedback state styling and alignment
// ---------------------------------------------

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/utilities' as *;

.output {
  background-color: $gray-800;
  padding-block: 1.9rem;
  padding-inline: 3.2rem;
  margin-bottom: $spacing-300;
  width: 100%;
  flex-wrap: nowrap;
  @include flex-space-between-center;

  &__value {
    color: $gray-700;
    padding-right: $spacing-400;
    @include text-preset-1;
  }

  &__copy {
    position: relative;
    color: $color-accent;
    cursor: pointer;
    transition: color 0.2s ease;

    &.copied {
      &::after {
        content: 'copied';
        position: absolute;
        top: -2rem;
        font-size: 1rem;
        color: $color-accent;
        transform: translateX(-50%);
        white-space: nowrap;
        pointer-events: none;
        animation: fadeOut 1.5s ease-out forwards;
      }
    }

    @keyframes fadeOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    &:hover,
    &:active,
    &:focus {
      color: $white;
    }
  }
}
