// ---------------------------------------------
// LAYOUT: CONTAINER
// ---------------------------------------------
// Used for global layout positioning and responsive spacing
// Applies consistent max-width, padding, and vertical alignment
// ---------------------------------------------

@use '../abstracts/variables' as *;
@use '../abstracts/utilities' as *;

.container {
  margin-block: 10rem 19.5rem;

  @include respond-to(sm) {
    margin-block: $spacing-300;
  }
}

.generator {
  width: 100%;
  max-width: 54rem;
  margin-inline: auto;
  padding: $spacing-400;
  @include flex-column;

  @include respond-to(sm) {
    padding: $spacing-300 $spacing-200;
  }
}
